<!DOCTYPE html>
<html>
	<%= include head %>
	<body ng-app="lsMain">
		<%= include header %>
		<div id="container" ng-controller="lsController">
			<div id="sidebar">
				<div class="sidebar-tabs" id="sidebar-tabs">
			        <ul class="tabs-nav two-items">
			            <li class="active"><a href="#general"style="line-height:35px" opentab>搜尋設定</a></li>
			            <li class=""><a href="#stuff" style="line-height:35px">收藏福利清單</a></li>
			        </ul>
			        <div id="general">
			        	<form class="search widget" action="#">
				    		<div class="autocomplete-append">
					    		<!-- <ul class="search-options">
					    			<li><a href="#" title="" class="go-option tip" data-original-title="Go to search page"></a></li>
					    			<li><a href="#" title="" class="advanced-option tip" data-original-title="Advanced search"></a></li>
					    			<li><a href="#" title="" class="settings-option tip" data-original-title="Settings"></a></li>
					    		</ul> -->
					    		<input type="text" placeholder="輸入關鍵字" id="autocomplete" class="ui-autocomplete-input" autocomplete="off"><span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
					    		<input type="submit" class="btn btn-info" value="Search">
					    	<ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" id="ui-id-1" tabindex="0" style="z-index: 1; display: none;"></ul></div>
		    			</form>
		    			<div class="widget">
		    				<h6 class="widget-name"><i class="ico-star"></i>請增加福利條件</h6>
		    			</div>
		    			<div class="widget">
							<div class="btn">單親</div> 
							<div class="btn">離婚</div> 
							<div class="btn">失業</div> 
							<div class="btn">失蹤</div> 
							<div class="btn">中輟生</div> 
							<div class="btn">原住民</div> 
							<div class="btn">勞保身分</div> 
							<div class="btn">職災者</div>
							<div class="btn">低收入戶</div>
							<div class="btn">中收入戶</div> 
							<br/>
							性別
							<div class="controls">
                                <div class="select2-container" id="s2id_autogen2"><a href="javascript:void(0)" onclick="return false;" class="select2-choice select2-default" tabindex="-1">   <span>請選擇性別...</span><abbr class="select2-search-choice-close" style="display: none;"></abbr>   <div><b></b></div></a><input class="select2-focusser select2-offscreen" type="text"></div><select data-placeholder="Choose a Country..." class="select select2-offscreen" tabindex="-1">
                                    <option value=""></option> 
                                    <option value="Cambodia">Cambodia</option> 
                                    <option value="Cameroon">Cameroon</option> 
                                    <option value="Canada">Canada</option> 
                                    <option value="Cape Verde">Cape Verde</option> 
                                </select>
                            </div>
							有無重大傷病
							<div class="controls">
                                <div class="select2-container" id="s2id_autogen2"><a href="javascript:void(0)" onclick="return false;" class="select2-choice select2-default" tabindex="-1">   <span>請選擇傷病史...</span><abbr class="select2-search-choice-close" style="display: none;"></abbr>   <div><b></b></div></a><input class="select2-focusser select2-offscreen" type="text"></div><select data-placeholder="Choose a Country..." class="select select2-offscreen" tabindex="-1">
                                    <option value=""></option> 
                                    <option value="Cambodia">Cambodia</option> 
                                    <option value="Cameroon">Cameroon</option> 
                                    <option value="Canada">Canada</option> 
                                    <option value="Cape Verde">Cape Verde</option> 
                                </select>
                            </div>
                            有無罕見疾病
                            <div class="controls">
                                <div class="select2-container" id="s2id_autogen2"><a href="javascript:void(0)" onclick="return false;" class="select2-choice select2-default" tabindex="-1">   <span>請選擇罕見疾病...</span><abbr class="select2-search-choice-close" style="display: none;"></abbr>   <div><b></b></div></a><input class="select2-focusser select2-offscreen" type="text"></div><select data-placeholder="Choose a Country..." class="select select2-offscreen" tabindex="-1">
                                    <option value=""></option> 
                                    <option value="Cambodia">Cambodia</option> 
                                    <option value="Cameroon">Cameroon</option> 
                                    <option value="Canada">Canada</option> 
                                    <option value="Cape Verde">Cape Verde</option> 
                                </select>
                            </div>
                            身心障礙程度
                            <div class="controls">
                                <div class="select2-container" id="s2id_autogen2"><a href="javascript:void(0)" onclick="return false;" class="select2-choice select2-default" tabindex="-1">   <span>請選擇身心障礙程度...</span><abbr class="select2-search-choice-close" style="display: none;"></abbr>   <div><b></b></div></a><input class="select2-focusser select2-offscreen" type="text"></div><select data-placeholder="Choose a Country..." class="select select2-offscreen" tabindex="-1">
                                    <option value=""></option> 
                                    <option value="Cambodia">Cambodia</option> 
                                    <option value="Cameroon">Cameroon</option> 
                                    <option value="Canada">Canada</option> 
                                    <option value="Cape Verde">Cape Verde</option> 
                                </select>
                            </div>
						</div>
				        <div class="widget">
				        	<h6 class="widget-name"><i class="ico-star"></i>他人推薦福利搜尋組合</h6>
				        	<ul class="social-stats">
				        		<li>
				        			<div style="width:20px;height:20px;margin-top:10px;border:1px solid #ccc;float:left;margin-left:0;border-radius:20px;"></div>
				        			<div style="margin-left:30px">
					        			<h4>聽障朋友買車</h4>
					        			<span>身障 買車 </span>
					        			<div class="btn">前往</div>	
					        		</div>

				        		</li>
				        		<li>
				        			<div style="width:20px;height:20px;margin-top:10px;border:1px solid #ccc;float:left;margin-left:0;border-radius:20px;"></div>
				        			<div style="margin-left:30px">
					        			<h4>肢障朋友申請輔具</h4>
					        			<span>身障 輔具申請</span>
					        			<div class="btn">前往</div>	
					        		</div>
				        		</li>
				        		<li>
				        			<div style="width:20px;height:20px;margin-top:10px;border:1px solid #ccc;float:left;margin-left:0;border-radius:20px;"></div>
				        			<div style="margin-left:30px">
					        			<h5>育兒基金</h5>
					        			<span>育兒基金申請 </span>
					        			<div class="btn">前往</div>	
					        		</div>
				        		</li>
				        	</ul>
				        </div>
			        </div>
			        <div id="stuff">
			        	<div class="widget">
		    				<h6 class="widget-name"><i class="ico-star"></i>以下是您所收藏的福利</h6>
		    			</div>
		    			<script type="text/javascript">
		    			 	if(lcstorage != 1){
							    document.write('<div class="widget"><h3>很抱歉您的瀏覽器不支援此項功能，建議更換到最新版本！</h3></div>');
							}
		    			</script>
		    			<div class="widget">
		    				<ul class="social-stats">
				        		<li>
				        			<div style="width:20px;height:20px;margin-top:10px;border:1px solid #ccc;float:left;margin-left:0;border-radius:20px;"></div>
				        			<div style="margin-left:30px">
					        			<h4>聽障朋友買車</h4>
					        			<span>身障 買車 </span>
					        			<br/>
					        			<div class="btn">前往</div>	
					        			<div class="btn btn-danger">刪除</div>
					        		</div>

				        		</li>
				        		<li>
				        			<div style="width:20px;height:20px;margin-top:10px;border:1px solid #ccc;float:left;margin-left:0;border-radius:20px;"></div>
				        			<div style="margin-left:30px">
					        			<h4>肢障朋友申請輔具</h4>
					        			<span>身障 輔具申請</span>
					        			<br/>
					        			<div class="btn">前往</div>	
					        			<div class="btn btn-danger">刪除</div>
					        		</div>
				        		</li>
				        		<li>
				        			<div style="width:20px;height:20px;margin-top:10px;border:1px solid #ccc;float:left;margin-left:0;border-radius:20px;"></div>
				        			<div style="margin-left:30px">
					        			<h5>育兒基金</h5>
					        			<span>育兒基金申請 </span>
					        			<br/>
					        			<div class="btn">前往</div>	
					        			<div class="btn btn-danger">刪除</div>
					        		</div>
				        		</li>
				        	</ul>
		    			</div>
			        </div>
			    </div>
		    </div>
		    <div class="notice_fr">
		    	<!-- <div class="help_fr">Help Me</div>
		    	<div class="add_fr">新增福利</div> -->
		    	<!-- <div class="span4">
				    		<ul class="round-buttons">
								<li><div class="depth" style="background-color:#ef705b;"><a href="" title="" class="tip" data-original-title="Add new post" ><i style="font-size:16px;line-height:60px">Help!</i></a></div></li>
								 <li><div class="depth" style="background-color:#4ca15b"><a href="" title="" class="tip" data-original-title="View statement"><i class="icon-plus"></i></a></div></li>
							</ul>
						</div> -->

		    </div>
		    <div id="content">
		    	<ul>
					<% for(var i=0; i<data.length; i++) {%>
					   <li>
					   	<p>標題：<%= data[i].title %></p>
					   	<p>內容：<%= data[i].content %></p>
					   	<p>發表時間：<%= data[i].update %></p>
					   </li>
					<% } %>
				</ul>
		    </div>
		    <%= include footer %>
		</div>
		<script type="text/javascript">
			if(localStorage.listeningUser){
				//console.log('yy');
				var userInfo = JSON.parse(localStorage.listeningUser);
				  window.intercomSettings = {
				    // TODO: The current logged in user's email address.
				    email: userInfo.username,
				    // TODO: The current logged in user's sign-up date as a Unix timestamp.
				    created_at: 1234567890,
				    app_id: "171c4511b2660bc64f6c104d71ff6afa0bc66cbb"
				  };
				  intercom ();
			}else{
				//console.log('nn')
				$.ajax({
					type: "POST",
					url: "/addNewUser",
					// data: { name: "John", location: "Boston" }
					success:function( data ) {
				  		console.log(data)
				  		var parseData = JSON.parse(data)
				  		localStorage.listeningUser = data;
				  		window.intercomSettings = {
							// TODO: The current logged in user's email address.
							email: parseData.username,
							// TODO: The current logged in user's sign-up date as a Unix timestamp.
							created_at: 1234567890,
							app_id: "171c4511b2660bc64f6c104d71ff6afa0bc66cbb"
						};
						intercom ();
				  	}
				});	
			}


			function sendhelpme (){
				var helpmetitle = $("input[name='helpmetitle']").attr('value'),
					helpmeemail = $("input[name='helpmeemail']").attr('value'),
					helpmephone = $("input[name='helpmephone']").attr('value'),
					helpmetextarea = $("textarea[name='helpmetextarea']").val(),
					helpmesocial = $('input[name=optionsRadios]:checked').val();
				console.log(helpmetextarea);
				console.log(helpmesocial)
				// if (helpmetitle=='' || helpmetextarea==''){
				// 	alert('打*欄位務必填寫！');
				// 	break;
				// }
				var userInfo = JSON.parse(localStorage.listeningUser);
				// userInfo.phone = helpmephone;
				// userInfo.email = helpmeemail;
				var helpmedata = {};
				helpmedata.username = userInfo.username;
				helpmedata.title = helpmetitle;
				
				// if(helpmeemail!=''){
					helpmedata.email = helpmeemail;
				// }
				// if(helpmephone!=''){
					helpmedata.phone = helpmephone;
				// }
				helpmedata.social = helpmesocial;
				helpmedata.helpcontent = helpmetextarea;
				//console.log('helpmedata:'+helpmedata);
				$.ajax({
					type: "POST",
					url: "/helpme",
					data: helpmedata,
					success:function( data ) {
				  		if (data == 'success'){
				  			alert('已傳送成功！');
				  		}
				  	}
				});	
			}

			$('.fullview').click(function(){
			    $("body").toggleClass("clean");
			    $('#sidebar').toggleClass("hide-sidebar mobile-sidebar");
			    $('#content').toggleClass("full-content");
			});
			$('.sidebar-tabs').easytabs({
				animationSpeed: 150,
				collapsible: false,
				tabActiveClass: "active"
			});
			$('.actions').easytabs({
				animationSpeed: 300,
				collapsible: false,
				tabActiveClass: "current"
			});

			function intercom (){
				var w = window;
				var ic = w.Intercom;
				if (typeof ic === "function") {
					ic('reattach_activator');
					ic('update', intercomSettings);
				} else {
					var d = document;
					var i = function() {
						i.c(arguments)
					};
					i.q = [];
					i.c = function(args) {
						i.q.push(args)
					};
					w.Intercom = i;

					function l() {
						var s = d.createElement('script');
						s.type = 'text/javascript';
						s.async = true;
						s.src = 'https://api.intercom.io/api/js/library.js';
						var x = d.getElementsByTagName('script')[0];
						x.parentNode.insertBefore(s, x);
					}
					if (w.attachEvent) {
						w.attachEvent('onload', l);
					} else {
						w.addEventListener('load', l, false);
					}
				};	
			}

		</script>
	</body>
</html>